/* Em tags só colocar a tag, em classes usa ponto e em id usa # */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;	
}

body > header {
    background-color: #100e7c;
    color: white;
    padding: 16px 0;
    align-items: center;
}   

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li a {
    background-color: #100e7c;
    color: white;
    text-decoration: none;
}

header li {
    display: inline;
    background-color: #100e7c;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 16px;
}

.container {
    width: 1366px;
    margin: 0 auto;
    text-align: center;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article {
    margin-top: 16px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
}

#sports {
    background-color: #98b732;
}

#sports .articles article a {
    background-color: #445313;
}

#economy {
    background-color: #f7b32b;
}

#economy .articles article a {
    background-color: #513b0d;
}

#Tech {
    background-color: #f72b2b;
}

#Tech .articles article a {
    background-color: #4f0d0d;
}

#Entertainment {
    background-color: aqua;
}

#Entertainment .articles article a{
    background-color: rgb(6, 36, 36);
}